{% extends "base.html" %}

{% load bootstrap3 %}
{% load static from staticfiles %}

{% block extra_head %}
<script type="text/javascript" src="{% static 'js/nurse.js' %}"></script>
{% endblock %}

{% block content %}
<h4>Nurses</h4>
<div class="btn-group" ng-controller="ActionsCtrl">
  <button type="button" class="btn btn-default" ng-click="newNurse()" ><span class="glyphicon glyphicon-plus"></span></button>
</div>
<table class="table table-striped" ng-controller="NursesListCtrl">
  <tr>
    <th>Id</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Experienced</th>
    <th></th>
  </tr>
  {% verbatim %}
  <tr ng-repeat="nurse in nurses">
    <td>{{ nurse.id }}</td>
    <td>{{ nurse.first_name }}</td>
    <td>{{ nurse.last_name }}</td>
    <td>{{ nurse.experienced }}</td>
    <td>
      <a href="" ng-click="editNurse(nurse)">
	<span class="glyphicon glyphicon-pencil"></span>
      </a>
      <a href="" ng-click="deleteNurse(nurse)">
	<span class="glyphicon glyphicon-trash"></span>
      </a>
    </td>
  </tr>
  {% endverbatim %}
</table>

{% endblock %}


{% block modal_forms %}
<div class="modal fade" id="nurse-form">
  <div class="modal-dialog">
    <div class="modal-content" ng-controller="NurseCtrl">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	{% verbatim %}
        <h4 class="modal-title">{{ title }}</h4>
	{% endverbatim %}
      </div>
      <div class="modal-body">
	<form class="form-horizontal" method="post" id="nurse" action="">
	  {% csrf_token %}
	  {% bootstrap_form form layout="horizontal" label_class="col-md-3" field_class="col-md-6" %}
	</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="saveNurse()">Save</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% endblock %}
  
